<%- include('./layout/adheader.ejs') %>
<div class="container-scroller text-center">
 <%- include('./layout/sidenav.ejs') %>
 <div class="container-fluid page-body-wrapper">
 <%- include('./layout/topnav.ejs') %>

 <div class="w-100 container-fluid bg-dark mt-5">

 <!-- Category List -->
 <div class="container mt-5">
    <h2>Product Categories</h2>
    <% if (categories.length === 0) { %>
        <span style="font-size:x-large">No Categories</span>
    <% } else { %>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.name %></td>
                    <td>
                        <button class="btn btn-primary"><a style="color: white; text-decoration: none;" href="/admin/category/edit/<%= category._id %>">Edit</a></button>

                        <button type="button" class="btn <%= category.status === 'active' ? 'btn-success' : 'btn-danger' %>" onclick="toggleCategory('<%= category._id %>', '<%= category.status %>')">
                            <%= category.status === 'active' ? 'Active' : 'Blocked' %>
                        </button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
</div>


 <!-- Add New Category Button -->
 <div class="container mt-3">
    <a href="/admin/category/add" class="btn btn-primary">Add New Category</a>
 </div>


</div>

</div>
</div>


<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>

<script>
    function toggleCategory(categoryId, currentStatus) {
    const confirmationMessage = currentStatus ? "Are you sure you want to block this category?" : "Are you sure you want to activate this category?";
    if (confirm(confirmationMessage)) {
        fetch(`/admin/category/toggle/${categoryId}`, {
            method: 'POST'
        })
        .then(response => {
            if (response.ok) {
                window.location.reload(); // Refresh the page
            } else {
                throw new Error('Something went wrong');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}
</script>

<%- include('./layout/adfooter.ejs') %>