<%- include('./layout/adheader.ejs') %>
<div class="container-scroller text-center">
    <%- include('./layout/sidenav.ejs') %>
        <div class="container-fluid page-body-wrapper">

          <%- include('./layout/topnav.ejs') %>


        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-3 mb-3">
                <div class="list-group">
                  <h5 class="list-group-item list-group-item-dark font-weight-bold">
                    Placed Orders
                  </h5>
                  <% if (orders.length === 0) { %>
                  <a href="#" class="list-group-item list-group-item-action">
                    Total Products: <span class="badge bg-primary"></span>
                  </a>
                  <% } else { %> 
                    <% let placedCount = 0; %>
                        <% orders.forEach(order => { %>
                            <% order.products.forEach(product => { %>
                                <% if (product.orderStatus === 'placed') { %>
                                    <% placedCount++; %>
                                <% } %>
                            <% }); %>
                        <% }); %>
                        <a href="#" class="list-group-item text-white bg-dark list-group-item-action">
                            Total Products: <span class="badge  bg-dark text-white"> <%= placedCount %> </span>
                        </a>
                  <% } %>
                </div>
              </div>
  
              <div class="col-md-3 mb-3">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark font-weight-bold">
                        Shipped Orders
                    </h5>
                    <% if (orders.length === 0) { %>
                    <a href="#" class="list-group-item list-group-item-action">
                        Total Products: <span class="badge bg-dark"></span>
                    </a>
                    <% } else { %>
                        <% let shippedCount = 0; %>
                        <% orders.forEach(order => { %>
                            <% order.products.forEach(product => { %>
                                <% if (product.orderStatus === 'shipped') { %>
                                    <% shippedCount++; %>
                                <% } %>
                            <% }); %>
                        <% }); %>
                        <a href="#" class="list-group-item text-white bg-dark list-group-item-action">
                            Total Products: <span class="badge bg-dark text-white"> <%= shippedCount %> </span>
                        </a>
                    <% } %>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark font-weight-bold">
                        Returned Orders
                    </h5>
                    <% if (orders.length === 0) { %>
                    <a href="#" class="list-group-item list-group-item-action">
                        Total Products: <span class="badge bg-primary"></span>
                    </a>
                    <% } else { %>
                        <% let returnedCount = 0; %>
                        <% orders.forEach(order => { %>
                            <% order.products.forEach(product => { %>
                                <% if (product.orderStatus === 'returned') { %>
                                    <% returnedCount++; %>
                                <% } %>
                            <% }); %>
                        <% }); %>
                        <a href="#" class="list-group-item text-white bg-dark list-group-item-action">
                            Total Products: <span class="badge  bg-dark text-white"> <%= returnedCount %> </span>
                        </a>
                    <% } %>
                </div>
            </div>
              <div class="col-md-3 mb-3">
                <div class="list-group">
                  <h5 class="list-group-item list-group-item-dark font-weight-bold">
                    Delivered Orders
                  </h5>
                  <% if (orders.length === 0) { %>
                  <a href="#" class="list-group-item list-group-item-action">
                    Total Products: <span class="badge bg-primary"></span>
                  </a>
                  <% } else { %> 
                    <% let deliveryCount = 0; %>
                        <% orders.forEach(order => { %>
                            <% order.products.forEach(product => { %>
                                <% if (product.orderStatus === 'delivered') { %>
                                    <% deliveryCount++; %>
                                <% } %>
                            <% }); %>
                        <% }); %>
                        <a href="#" class="list-group-item text-white bg-dark list-group-item-action">
                            Total Products: <span class="badge  bg-dark text-white"> <%= deliveryCount %> </span>
                        </a>
                  <% } %>
                </div>
              </div>
  
              <div class="col-md-3 mb-3">
                <div class="list-group">
                  <h5 class="list-group-item list-group-item-dark font-weight-bold">
                    Cancelled Orders
                  </h5>
                  <% if (orders.length === 0) { %>
                  <a href="#" class="list-group-item list-group-item-action">
                    Total Products: <span class="badge bg-primary"></span>
                  </a>
                  <% } else { %> 
                    <% let cancellCount = 0; %>
                    <% orders.forEach(order => { %>
                        <% order.products.forEach(product => { %>
                            <% if (product.orderStatus === 'cancelled') { %>
                                <% cancellCount++; %>
                            <% } %>
                        <% }); %>
                    <% }); %>
                    <a href="#" class="list-group-item text-white bg-dark list-group-item-action">
                        Total Products: <span class="badge bg-dark text-white"> <%= cancellCount %> </span>
                    </a>
                  <% } %>
                </div>
              </div>

              <div class="col-md-3 mb-3">
                <div class="list-group">
                  <h5 class="list-group-item list-group-item-dark font-weight-bold">
                   Total Users
                  </h5>
                    <a href="#" class="list-group-item text-white bg-dark list-group-item-action">
                        Total Users: <span class="badge bg-dark text-white"> <%= userCount %> </span>
                    </a>
                </div>
              </div>
            </div>

          </div>

            
  
          <div class="row">
              
            <div class="col-lg-6 grid-margin stretch-card">

              <div class="card">

                <div class="card-body">

                  <h4 class="card-title">Month</h4>

                  <canvas id="monthlyChart" style="height:200px"></canvas>

                </div>

              </div>

            </div>
            
            <div class="col-lg-6 grid-margin stretch-card">

              <div class="card">

                <div class="card-body">

                  <h4 class="card-title">Year</h4>

                  <canvas id="areaChart" style="height:200px"></canvas>

                </div>

              </div>

            </div>


          </div>
  
                      
                      <div class="card mt-5 bg-dark">
                          <div class="card-header bg-primary text-dark">
                              Top Selling Details
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="card border-primary mb-3">
                                          <div class="card-header bg-primary text-dark">Top Selling Product</div>
                                          <div class="card-body">
                                              <h5 class="card-title"><%= mostSoldProduct ? mostSoldProduct.name : '0' %></h5>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="card border-primary mb-3">
                                          <div class="card-header bg-primary text-dark">Top Selling Category</div>
                                          <div class="card-body">
                                              <h5 class="card-title"><%= mostSoldCategory ? mostSoldCategory.name : '0' %></h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
          </div>  
       
  </div>
    
</div>
</div>
             
<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

//  Year :-

const currentYear = new Date().getFullYear();
const next5Years = Array.from({ length: 6 }, (_, index) => (currentYear+3) - index);
const previeYear = next5Years.reverse();
var date = [];

fetch('/admin/chartYear', {

  method: 'put',
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({})

})
    .then(res => res.json())

    .then(data => {


  previeYear.forEach((e, i) => {

    let yearFound = false;

    data.yearChart.forEach((year, ind) => {

      if (e === year._id) {

        date[i] = year.totalAmount;
        yearFound = true;

      }

    });

    if (!yearFound) {

      date[i] = 0;

    }

  });

    if ($("#areaChart").length) {

      var areaData = {

        labels: previeYear,

        datasets: [{

          label: 'sales',
          data: date,

          backgroundColor: [

            'rgba(54, 162, 235, 0.2)', 
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],

          borderColor: [

            'rgba(54, 162, 235, 1)', 
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'

          ],

            borderWidth: 1,
            fill: true,

        }]

      }; 

    var areaOptions = {

      plugins: {

        filler: {

          propagate: true

        }

      },

      scales: {

        yAxes: [{

          gridLines: {
            color: "rgba(204, 204, 204,0.1)"
          }

        }],

        xAxes: [{

          gridLines: {
            color: "rgba(204, 204, 204,0.1)"
          }

        }]

      }
      
    }

      var areaChartCanvas = $("#areaChart").get(0).getContext("2d");

      var areaChart = new Chart(areaChartCanvas, {

        type: 'line',
        data: areaData,
        options: areaOptions

      });

    }

  //  Month :-

    const monthName = [

      "January", "February", "March",
      "April", "May", "June", "July",
      "August", "September", "October",
      "November", "December"
      
    ];

    fetch('/admin/monthChart', {

      method: 'put',
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({})

    })

    .then(res => res.json())

    .then(data => {

      const months = monthName;
      const salesData = data.salesData;

      if ($("#monthlyChart").length) {

          var monthlyData = {

            labels: months,

            datasets: [{

              label: 'Sales',
              data: salesData,
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1,
              fill: true,

            }]

          };

          var monthlyOptions = {

            plugins: {

              filler: {

               propagate: true

              }

            },

            scales: {

              yAxes: [{

                 gridLines: {

                  color: "rgba(204, 204, 204,0.1)"

                }

              }],
              
              xAxes: [{

                gridLines: {

                  color: "rgba(204, 204, 204,0.1)"

                }

              }]

            }

          };

            var monthlyChartCanvas = $("#monthlyChart").get(0).getContext("2d");

            var monthlyChart = new Chart(monthlyChartCanvas, {

              type: 'line',
              data: monthlyData,
              options: monthlyOptions

            });
        }

      console.log(salesData);

    })

  .catch(error => console.error('Error fetching monthly sales data:', error));
  
})

</script>

<!--   
<script>
  
  function countTopSellingItems(orders) {
      const productCounts = {};
      const categoryCounts = {};
  
      // Loop through orders to count products and categories
      orders.forEach(order => {
        const productName = order.product.productName;
        const category = order.product.category;
  
        // Count products
        if (productCounts[productName]) {
          productCounts[productName]++;
        } else {
          productCounts[productName] = 1;
        }
  
        // Count categories
        if (categoryCounts[category]) {
          categoryCounts[category]++;
        } else {
          categoryCounts[category] = 1;
        }
      });
  
      // Find top-selling product
      const topSellingProduct = Object.keys(productCounts).reduce((a, b) => productCounts[a] > productCounts[b] ? a : b);
  
      // Find top-selling category
      const topSellingCategory = Object.keys(categoryCounts).reduce((a, b) => categoryCounts[a] > categoryCounts[b] ? a : b);
  
      return {
        topSellingProduct,
        topSellingCategory
      };
    }
  
    // Get top-selling product and category
    const {
      topSellingProduct,
      topSellingCategory
    } = countTopSellingItems(orders);
  
    // Display the top-selling product and category
    document.querySelector('.top-selling-product').textContent = topSellingProduct;
    document.querySelector('.top-selling-category').textContent = topSellingCategory;
</script> 

    -->
<%- include('./layout/adfooter.ejs') %>    