<%- include('./layout/adheader.ejs') %>
<div class="container-scroller text-center">
 <%- include('./layout/sidenav.ejs') %>
 <div class="container-fluid page-body-wrapper">
 <%- include('./layout/topnav.ejs') %>

 <div class="w-100 container-fluid bg-dark mt-5">

<!-- Add Category Form -->
<div class="container mt-5">
    <h2>Edit Category</h2>
    <form id="editCategoryForm" action="/admin/category/edit/<%= category._id %>" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="name">Category Name</label>
            <input type="text" name="name" id="name" class="form-control" value="<%= category.name %>" required>
            <small id="nameError" class="text-danger"></small>
        </div>
        <div>
            <p class="text-danger"><%= message %></p>
        </div>
        <div class="form-group">
            <label for="description">Category Description</label>
            <textarea name="description" id="description" class="form-control" rows="3" required><%= category.description %></textarea>
            <small id="descriptionError" class="text-danger"></small>
        </div>
        
        <button type="submit" class="btn btn-primary">Edit Category</button>

        <a href="/admin/category"  class="btn btn-primary">Back</a>
    </form>
</div>

</div>

</div>
</div>

<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>

<%- include('./layout/adfooter.ejs') %>

<script>
    function validateForm() {
        var name = document.getElementById("name").value.trim();
        var description = document.getElementById("description").value.trim();

        var nameError = document.getElementById("nameError");
        var descriptionError = document.getElementById("descriptionError");

        // Reset  errors
        nameError.textContent = "";
        descriptionError.textContent = "";

        var isValid = true;

       
        if (name === "") {
            nameError.textContent = "Please enter a category name.";
            isValid = false;
        }

    
        if (description === "") {
            descriptionError.textContent = "Please enter a category description.";
            isValid = false;
        }

        return isValid;
    }
</script>
