<%- include('./layout/adheader.ejs') %>
<div class="container-scroller text-center">
    <%- include('./layout/sidenav.ejs') %>
        <div class="container-fluid page-body-wrapper">

            <%- include('./layout/topnav.ejs') %>

                <div class="w-100 container-fluid bg-dark mt-5">
                        <div class="mt-5">
                            <h2>Order Management</h2>
                        </div>
                    <div class="container mt-2" style="overflow-x: auto;">
                       
                        <% if (orders && orders.length > 0 ) { %>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Address</th>
                                        <th>Price</th>
                                        <th>Payment status</th>
                                        <th>Payment Method</th>
                                        <th>Order Status</th>
                                        <th>Reason</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach((order, orderIndex) => { %>
                                        <% order.products.forEach((product, index) => { %>
                                            <tr>
                                                <td><%= new Date(order.createdAt).toLocaleDateString('en-US', {  year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                                <td class="product-col">
                                                    <div class="product d-flex align-items-center">
                                                        <figure class="product-media mr-2">
                                                            <% if (product.images && product.images.length > 0) { %>
                                                                <img src="<%= product.images[0] %>" alt="Product image">
                                                            <% } %>
                                                        </figure>
                                                        <h6 class="product-title">
                                                            <%= product.name %>
                                                        </h6>
                                                    </div>
                                                </td>
                                                <td class="quantity-col"><%= product.quantity %></td>
                                                <td>
                                                    <%= order.address.user.name %>
                                                    <br>
                                                    <%= order.address.buildingName %> 
                                                    <br> 
                                                    <%= order.address.city %>
                                                    <br> 
                                                    <%= order.address.state %> 
                                                    <br> 
                                                    <%= order.address.pincode %>
                                                </td>
                                                <td class="price-col">₹<%= product.subtotal %></td>
                                                <td><%= order.paymentStatus  %></td>
                                                <td><%= order.paymentMethod %></td>
                                                <% if(product.orderStatus == 'placed') { %>
                                                    <td  style="text-align: center; color: rgb(129, 129, 235);"><%= product.orderStatus %></td>
                                                <% }else if(product.orderStatus == 'shipped') { %>
                                                    <td  style="text-align: center; color: rgb(23, 23, 238);"><%= product.orderStatus %></td>
                                                <% }else if(product.orderStatus == 'delivered') { %> 
                                                    <td  style="text-align: center; color: rgb(13, 197, 13);"><%= product.orderStatus %></td>
                                                <% }else { %> 
                                                    <td  style="text-align: center; color: red;"><%= product.orderStatus %></td>
                                                <% } %> 

                                                <% if(product.reason){ %> 
                                                <td><%= product.reason %></td>    
                                                <% }else { %> 
                                                    <td>   </td>
                                                <% } %>

                                                <% if( product.orderStatus !== 'delivered' ){ %>
                                                    <% if(product.orderStatus !== 'cancelled') { %> 
                                                        <% if(product.orderStatus !== 'returned'){ %> 
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Change Status
                                                                </button>
                                                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                                                    <% if (product.orderStatus == 'placed') { %>
                                                                        <a class="dropdown-item text-danger" onclick="changeProductStatus('<%= order._id %>', '<%= product._id %>', 'shipped')">Shipped</a>
                                                                    <% } %>
                                                                    <% if (product.orderStatus == 'shipped') { %>
                                                                    <a class="dropdown-item text-danger" onclick="changeProductStatus('<%= order._id %>', '<%= product._id %>', 'delivered')">Delivered</a>
                                                                    <% } %>
                                                                    <% if(product.orderStatus === 'request return'){ %> 
                                                                        <a class="dropdown-item text-danger" onclick="changeProductStatus('<%= order._id %>', '<%= product._id %>', 'returned')">Return</a>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <% } %>
                                                    <% } %>
                                                <% } %> 
                                            
                                            </tr>
                                        <% }) %>
                                        
                                    <% }) %>
                                </tbody>                                    
                            </table>
                        <% }else { %> 
                            <span style="font-size: x-large;">No Orders</span>
                        <% } %>
                    </div>
                     <!-- Pagination -->
                    <nav aria-label="Page navigation ">
                        <ul class="pagination justify-content-center mt-4">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li> 
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %> 
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                        <span aria-label="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                    <!-- End Pagination -->
                </div>
        </div>
</div>


<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>



<script>
    function changeProductStatus(orderId, productId, newStatus) {

    fetch(`/admin/change-product-status/${orderId}/${productId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ newStatus })
    })
    .then(response => {
        if (response.ok) {
            window.location.href = '/admin/orders';
        } else {
            console.error('Failed to change product status');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>
 
    
<%- include('./layout/adfooter.ejs') %>    