<%- include('./layout/adheader.ejs') %>

<div class="container-scroller text-center">
    <%- include('./layout/sidenav.ejs') %>
    <div class="container-fluid page-body-wrapper">
        <%- include('./layout/topnav.ejs') %>

        <div class="w-100 container-fluid bg-dark mt-5">
            <div class="container mt-5">
                <h2>Product Management</h2>
                <% if (products.length === 0) { %>
                    <span style="font-size:x-large">No Products</span>
                <% } else { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= product.name %></td>
                                    <td><%= product.category.name %></td>
                                    <td>₹<%= product.price %></td>
                                    <td><%= product.quantity %></td>
                                    <td><%for(let i=0;i<product.pictures.length;i++){%>
                                        <img src="/product_images/<%=product.pictures[i].resizedFile%>" alt="Product Images">
                                        <%}%>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary"><a style="color: white; text-decoration: none;" href="/admin/products/edit/<%= product._id %>">Edit</a></button>
                                        <button class="btn btn-danger"><a style="color: white; text-decoration: none;" href="/admin/products/delete/<%= product._id %>">Delete</a></button>
                                        <button type="button" class="btn <%= product.status === 'active' ? 'btn-danger' : 'btn-success' %>"  onclick="toggleProduct('<%= product._id %>', '<%= product.status %>')">
                                            <%= product.status === 'active' ? 'Blocked' : 'Active' %>
                                        </button>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>

            <div class="container mt-3">
                <a href="/admin/products/add" class="btn btn-primary">Add New Product</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>


<script>
    function toggleProduct(productId, currentStatus) {
    const confirmationMessage = currentStatus ? "Are you sure you want to block this Product?" : "Are you sure you want to activate this Products?";

    if (confirm(confirmationMessage)) {
        fetch(`/admin/products/toggle/${productId}`, {
            method: 'POST'
        })
        .then(response => {
            if (response.ok) {
                window.location.reload(); // Refresh the page
            } else {
                throw new Error('Something went wrong');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}
</script>


<%- include('./layout/adfooter.ejs') %>
