<%- include('./layout/adheader.ejs') %>
<div class="container-scroller">
<%- include('./layout/sidenav.ejs') %>
<div class="container-fluid page-body-wrapper">
<%- include('./layout/topnav.ejs') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2 class="text-center mb-0">Edit Product</h2>
                </div>
                    <div class="card-body">
                        <form action="/admin/products/edit/<%= product._id %>" method="POST" enctype="multipart/form-data" onsubmit="return validate()">
                                <div class="form-group">
                                    <label >Product Name</label>
                                    <input type="text" name="name" id="name" class="form-control" value="<%= product.name %>" >
                                    <div id="nameError" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" id="category" name="category" >
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>" <%= category._id.toString() === product.category.toString() ? 'selected' : '' %>><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="price">Price</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₹</span>
                                            </div>
                                            <input type="number" name="price" id="price" class="form-control" value="<%= product.price %>" >
                                        </div>
                                        <div id="priceError" class="text-danger" ></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" name="quantity" id="quantity" class="form-control" value="<%= product.quantity %>" >
                                        <div id="quantityError" class="text-danger" ></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="discount">Discount Price</label>
                                    <input type="number" name="discount" id="discountPrice" class="form-control" value="<%= discountPercentage %>" >
                                    <div id="discountError" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Product Description</label>
                                    <textarea name="description" id="description" class="form-control" rows="5" ><%= product.description %></textarea>
                                    <div id="descriptionError" class="text-danger"></div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="image-container">
                                                <% if(product.pictures && product.pictures.length > 0) { %>
                                                    <% product.pictures.forEach((image, index) => { %>
                                                        <div class="image-item">
                                                            <label>Existing Image <%= index + 1 %> </label>
                                                            <img src="<%= image %>" alt="Product Image <%= index + 1 %>" class="preview-image" />
                                                            <button type="button" class="delete-image-btn btn btn-danger"
                                                                data-product-id="<%= product._id %>"
                                                                data-image-index="<%= index %>">Delete</button>
                                                        </div>
                                                    <% }) %>
                                                <% } else { %>
                                                    <h4>No images available to delete.</h4>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-img-div mt-1">
                                    <div class="newimg">
                                         <% if (product.pictures.length < 4) { %>
                                        <label for="">New Image1</label><br>
                                        <input type="file" id="newimage1" name="images" class="form-control" required  >
                                        <div id="image-preview1"></div>
                                        <div id="imagesError1" class="text-danger"></div>
                                        <% } %>
                                    </div>
                                    <div class="newimg">
                                        <% if (product.pictures.length < 3) { %>
                                            <label for="">New Image2</label><br>
                                            <input type="file" id="newimage2" name="images" class="form-control" required  >
                                            <div id="image-preview2"></div>
                                            <div id="imagesError2" class="text-danger"></div>
                                        <% } %>
                                    </div>
                                    <div class="newimg">
                                        <% if (product.pictures.length < 2) { %>
                                            <label for="">New Image3</label><br>
                                            <input type="file" id="newimage3" name="images" class="form-control" required  >
                                            <div id="image-preview3"></div>
                                            <div id="imagesError3" class="text-danger"></div>
                                        <% } %>
                                    </div>
                                    <div class="newimg">
                                        <% if (product.pictures.length < 1) { %>
                                            <label for="">New Image4</label><br>
                                            <input type="file" id="newimage4" name="images" class="form-control" required  >
                                            <div id="image-preview4"></div>
                                            <div id="imagesError4" class="text-danger"></div>
                                        <% } %>
    
                                    </div>
                                </div>


                                <div class="text-center mt-4">
                                    <button type="submit" name="submit" class="btn btn-primary">Edit  Product</button>
                                    <a href="/admin/products" class="btn btn-primary ml-2">Back</a>
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--End row-->
        </div><!--End container-->
    </div><!--End container-fluid page-body-wrapper-->
</div><!--End container-scroller-->

<footer class="footer mt-5">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>


<script>
    function validate() {
        var name = document.getElementById("name").value.trim();
        var description = document.getElementById("description").value.trim();
        var price = document.getElementById("price").value.trim();
        var quantity = document.getElementById("quantity").value.trim();
        var discount = document.getElementById("discountPrice").value.trim();
        var category = document.getElementById("category").value;

        var nameError = document.getElementById("nameError");
        var descriptionError = document.getElementById("descriptionError");
        var priceError = document.getElementById("priceError");
        var quantityError = document.getElementById("quantityError");
        var discountError = document.getElementById("discountError");

        var imagesError1 = document.getElementById('imagesError1');
        var imagesError2 = document.getElementById('imagesError2');
        var imagesError3 = document.getElementById('imagesError3');
        var imagesError4 = document.getElementById('imagesError4');


        // Reset errors
        nameError.textContent = "";
        descriptionError.textContent = "";
        priceError.textContent = "";
        quantityError.textContent = "";
        discountError.textContent = "";
        imagesError1.textContent = "";
        imagesError2.textContent = "";
        imagesError3.textContent = "";
        imagesError4.textContent = "";


        var isValid = true;

        if (name === "") {
            nameError.textContent = "Please enter a product name.";
            isValid = false;
        }

        if (description === "") {
            descriptionError.textContent = "Please enter a product description.";
            isValid = false;
        }

        if (isNaN(parseFloat(price)) || price <= 0) {
            priceError.textContent = "Please enter a valid price.";
            isValid = false;
        }

        if (isNaN(parseInt(quantity)) || quantity <= 0) {
            quantityError.textContent = "Please enter a valid quantity.";
            isValid = false;
        }

        if (isNaN(parseFloat(discount)) || discount <= 0 || discount >= 100) {
            discountError.textContent = "Check Discount Percentage";
            isValid = false;
        }

        // Allowing file type
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.webp)$/i;

        var newImage1Input = document.getElementById('newimage1').files[0];
        if (newImage1Input && !allowedExtensions.test(newImage1Input.name)) {
            imagesError1.textContent = "Please upload image";
            isValid = false;
        }
        var newImage2Input = document.getElementById('newimage2').files[0];
        if (newImage2Input && !allowedExtensions.test(newImage2Input.name)) {
            imagesError2.textContent = "Please upload image";
            isValid = false;
        }

        var newImage3Input = document.getElementById('newimage3').files[0];
        if (newImage3Input && !allowedExtensions.test(newImage3Input.name)) {
            imagesError3.textContent = "Please upload image";
            isValid = false;
        }

        var newImage4Input = document.getElementById('newimage4').files[0];
        if (newImage4Input && !allowedExtensions.test(newImage4Input.name)) {
            imagesError4.textContent = "Please upload image";
            isValid = false;
        }


        return isValid;
    }
</script>

<!--images Deleting-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const deleteButtons = document.querySelectorAll(".delete-image-btn");

    deleteButtons.forEach(function(button) {
        button.addEventListener("click", function() {
            const productId = button.getAttribute("data-product-id");
            const imageIndex = button.getAttribute("data-image-index");


            console.log(productId);
            console.log(imageIndex);
            fetch(`/admin/productsdelete?productId=${productId}&imageIndex=${imageIndex}`, {
                method: "DELETE"
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data.message);
                button.parentElement.remove();
                location.reload()
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        });
    });
});
</script>

<!--Previe new images-->
<script>

function previewImage(input, previewId) {
    const preview = document.getElementById(previewId);
    if (input.files && input.files[0]) {
        const reader = new FileReader();
        reader.onload = function(e) {
            preview.innerHTML = `<img src="${e.target.result}" alt="New Image Preview" style="max-width: 50%; max-height: 200px;">`;
        }
        reader.readAsDataURL(input.files[0]);
    } else {
        preview.innerHTML = '';
    }
}

    // Check if the input element exists before attaching the event listener
    if (document.getElementById('newimage1')) {
        document.getElementById('newimage1').addEventListener('change', function() {
            previewImage(this, 'image-preview1');
        });
    }
    if (document.getElementById('newimage2')) {
        document.getElementById('newimage2').addEventListener('change', function() {
            previewImage(this, 'image-preview2');
        });
    }
    if (document.getElementById('newimage3')) {
        document.getElementById('newimage3').addEventListener('change', function() {
            previewImage(this, 'image-preview3');
        });
    }
    if (document.getElementById('newimage4')) {
        document.getElementById('newimage4').addEventListener('change', function() {
            previewImage(this, 'image-preview4');
        });
    }    

</script>




<%- include('./layout/adfooter.ejs') %>
