<%- include('./layout/adheader.ejs') %>
<div class="container-scroller">
<%- include('./layout/sidenav.ejs') %>
<div class="container-fluid page-body-wrapper">
<%- include('./layout/topnav.ejs') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2 class="text-center mb-0">Edit Product</h2>
                </div>
                    <div class="card-body">
                        <form action="/admin/products/edit/<%= product._id %>" method="POST" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label >Product Name</label>
                                    <input type="text" name="name" id="name" class="form-control" value="<%= product.name %>" >
                                    <div id="nameError" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" id="category" name="category" >
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>" <%= category._id.toString() === product.category.toString() ? 'selected' : '' %>><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="price">Price</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₹</span>
                                            </div>
                                            <input type="number" name="price" id="price" class="form-control" value="<%= product.price %>" >
                                        </div>
                                        <div id="priceError" class="text-danger" ></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" name="quantity" id="quantity" class="form-control" value="<%= product.quantity %>" >
                                        <div id="quantityError" class="text-danger" ></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="discount">Discount Price</label>
                                    <input type="number" name="discount" id="discountPrice" class="form-control" value="<%= discountPercentage %>" >
                                    <div id="discountError" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Product Description</label>
                                    <textarea name="description" id="description" class="form-control" rows="5" ><%= product.description %></textarea>
                                    <div id="descriptionError" class="text-danger"></div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="image-container">
                                                <% if(product.pictures && product.pictures.length > 0) { %>
                                                    <% product.pictures.forEach((image, index) => { %>
                                                        <div class="image-item">
                                                            <label>Existing Image <%= index + 1 %> </label>
                                                            <img src="<%= image %>" alt="Product Image <%= index + 1 %>" class="preview-image" />
                                                            <button type="button" class="delete-image-btn btn btn-danger"
                                                                data-product-id="<%= product._id %>"
                                                                data-image-index="<%= index %>">Delete</button>
                                                        </div>
                                                    <% }) %>
                                                <% } else { %>
                                                    <p>No images available to delete.</p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-img-div mt-1">
                                    <div class="newimg">
                                         <% if (product.pictures.length < 4) { %>
                                        <label for="">New Image1</label><br>
                                        <input type="file" id="newimage1" name="images" class="form-control" required  >
                                        <div id="image-preview1"></div>
                                        <% } %>
                                    </div>
                                    <div class="newimg">
                                        <% if (product.pictures.length < 3) { %>
                                            <label for="">New Image2</label><br>
                                            <input type="file" id="newimage2" name="images" class="form-control" required  >
                                            <div id="image-preview2"></div>
                                        <% } %>
                                    </div>
                                    <div class="newimg">
                                        <% if (product.pictures.length < 2) { %>
                                            <label for="">New Image3</label><br>
                                            <input type="file" id="newimage3" name="images" class="form-control" required  >
                                            <div id="image-preview3"></div>
                                        <% } %>
                                    </div>
                                    <div class="newimg">
                                        <% if (product.pictures.length < 1) { %>
                                            <label for="">New Image4</label><br>
                                            <input type="file" id="newimage4" name="images" class="form-control" required  >
                                            <div id="image-preview4"></div>
                                        <% } %>
    
                                    </div>
                                </div>


                                <div class="text-center mt-4">
                                    <button type="submit" name="submit" class="btn btn-primary">Edit  Product</button>
                                    <a href="/admin/products" class="btn btn-primary ml-2">Back</a>
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--End row-->
        </div><!--End container-->
    </div><!--End container-fluid page-body-wrapper-->
</div><!--End container-scroller-->

<footer class="footer mt-5">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>

<!-- 
<script>
    function validate() {
        var name = document.getElementById("name").value.trim();
        console.log(name);
        var description = document.getElementById("description").value.trim();
        console.log(description);
        var price = document.getElementById("price").value.trim();
        console.log(price);
        var quantity = document.getElementById("quantity").value.trim();
        console.log(quantity);
        var discount = document.getElementById("discountPrice").value.trim();
        console.log(discount);
        var category = document.getElementById("category").value;
        console.log(category);

        var newImage1Input = document.getElementById('newimage1');
        if (newImage1Input) {
            var newImage1File = newImage1Input.files[0];
            console.log(newImage1File);
        }

        var newImage2Input = document.getElementById('newimage2');
        if (newImage2Input) {
            var newImage2File = newImage2Input.files[0];
            console.log(newImage2File);
        }

        var newImage3Input = document.getElementById('newimage3');
        if (newImage3Input) {
            var newImage3File = newImage3Input.files[0];
            console.log(newImage3File);
        }

        var newImage4Input = document.getElementById('newimage4');
        if (newImage4Input) {
            var newImage4File = newImage4Input.files[0];
            console.log(newImage4File);
        }

        var nameError = document.getElementById("nameError");
        var descriptionError = document.getElementById("descriptionError");
        var priceError = document.getElementById("priceError");
        var quantityError = document.getElementById("quantityError");
        var discountError = document.getElementById("discountError");


        // Reset errors
        nameError.textContent = "";
        descriptionError.textContent = "";
        priceError.textContent = "";
        quantityError.textContent = "";
        discountError.textContent = "";

        var isValid = true;

        if (name === "") {
            nameError.textContent = "Please enter a product name.";
            isValid = false;
        }

        if (description === "") {
            descriptionError.textContent = "Please enter a product description.";
            isValid = false;
        }

        if (isNaN(parseFloat(price)) || price <= 0) {
            priceError.textContent = "Please enter a valid price.";
            isValid = false;
        }

        if (isNaN(parseInt(quantity)) || quantity <= 0) {
            quantityError.textContent = "Please enter a valid quantity.";
            isValid = false;
        }

        if (isNaN(parseFloat(discount)) || discount <= 0 || discount >= 100) {
            discountError.textContent = "Check Discount Percentage";
            isValid = false;
        }

        if (!isValid) {
            return;
        }

        let formData = {
            name,
            category,
            description,
            price,
            quantity,
            discount,
            newImage1Input: newImage1File,
            newImage2Input: newImage2File,
            newImage3Input: newImage3File,
            newImage4Input: newImage4File
        };
        console.log(formData);

        fetch('/admin/products/edit/<%= product._id %>', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            console.log('Success:', data);
            window.location.href = '/admin/products';
        }).catch(error => {
            console.error('Error:', error);
        });
    }
</script> -->

<!--images Deleting-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const deleteButtons = document.querySelectorAll(".delete-image-btn");

    deleteButtons.forEach(function(button) {
        button.addEventListener("click", function() {
            const productId = button.getAttribute("data-product-id");
            const imageIndex = button.getAttribute("data-image-index");


            console.log(productId);
            console.log(imageIndex);
            fetch(`/admin/productsdelete?productId=${productId}&imageIndex=${imageIndex}`, {
                method: "DELETE"
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data.message);
                button.parentElement.remove();
                location.reload()
                // document.querySelector("body > div > div > div > div > div > div > div.card-body > form > div.container > div > div > div > div:nth-child(1) > button").innerHTML = "Testing"
                // document.querySelector("body > div > div > div > div > div > div > div.card-body > form > div.container > div > div > div > div:nth-child(2) > button").innerHTML = "Testing"
                // document.querySelector("body > div > div > div > div > div > div > div.card-body > form > div.container > div > div > div > div:nth-child(3) > button").innerHTML = "Testing"
                // document.querySelector("body > div > div > div > div > div > div > div.card-body > form > div.container > div > div > div > div:nth-child(4) > button").innerHTML = "Testing"
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        });
    });
});
</script>

<!--Previe new images-->
<script>
    function previewImage(input,previewId) {
        const preview = document.getElementById(previewId);
        if(input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="New Image Preview" style="max-width: 50%; max-hight: 200px;">`;
            }
            reader.readAsDataURL(input.files[0]);
        }else{
            preview.innerHTML = '';
        }
    }


    document.getElementById('newimage1').addEventListener('change', function() {
        previewImage(this,'image-preview1');
    });
    document.getElementById('newimage2').addEventListener('change', function() {
        previewImage(this,'image-preview2');
    });
    document.getElementById('newimage3').addEventListener('change', function() {
        previewImage(this,'image-preview3');
    });
    document.getElementById('newimage4').addEventListener('change', function() {
        previewImage(this,'image-preview4');
    });

</script>




<%- include('./layout/adfooter.ejs') %>
