<%- include('./layout/adheader.ejs') %>
<div class="container-scroller">
    <%- include('./layout/sidenav.ejs') %>
    <div class="container-fluid page-body-wrapper">
        <%- include('./layout/topnav.ejs') %>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h2 class="text-center mb-0">Add Product</h2>
                        </div>
                        <div class="card-body">
                            <form action="/admin/products/addpost" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="form-group">
                                    <label for="p-name">Product Name</label>
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter Product Name" required>
                                    <div id="nameError" class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label for="productCategory">Category</label>
                                    <select class="form-control" id="productCategory" name="category" required>
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>"><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="productPrice">Price</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₹</span>
                                            </div>
                                            <input type="number" name="price" id="productPrice" class="form-control" placeholder="Enter Price" required>
                                            <div id="priceError" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="productQuantity">Quantity</label>
                                        <input type="number" name="quantity" id="productQuantity" class="form-control" placeholder="Enter Quantity" required>
                                        <div id="quantityError" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Product Description</label>
                                    <textarea name="description" id="description" class="form-control" rows="5" placeholder="Enter Product Description" required></textarea>
                                    <div id="descriptionError" class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label for="product-date">Date</label>
                                    <input type="date" name="date" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Image 1 *</label>
                                    <input type="file" id="productImages1" name="images" class="form-control"  required >
                                    <div id="image-preview1" class="mt-2"></div>
                                    <div class="invalid-feedback">Please upload at least one image.</div>
                                    <div id="imagesError" class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label>Image 2 *</label>
                                    <input type="file" id="productImages2" name="images" class="form-control"  required >
                                    <div id="image-preview2" class="mt-2"></div>
                                    <div class="invalid-feedback">Please upload at least one image.</div>
                                    <div id="imagesError" class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label>Image 3 *</label>
                                    <input type="file" id="productImages3" name="images" class="form-control"  required >
                                    <div id="image-preview3" class="mt-2"></div>
                                    <div class="invalid-feedback">Please upload at least one image.</div>
                                    <div id="imagesError" class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label >Image 4 *</label>
                                    <input type="file" id="productImages4" name="images" class="form-control" required >
                                    <div id="image-preview4" class="mt-2"></div>
                                    <div class="invalid-feedback">Please upload at least one image.</div>
                                    <div id="imagesError" class="invalid-feedback"></div>
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" name="submit" class="btn btn-primary">Add Product</button>
                                    <a href="/admin/products" class="btn btn-primary ml-2">Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-5">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>


<script>
 function validateForm() {
        var name = document.getElementById("name").value.trim();
        var description = document.getElementById("description").value.trim();
        var images1 = document.getElementById("productImages1").value.trim();
        var images2 = document.getElementById("productImages2").value.trim();
        var images3 = document.getElementById("productImages3").value.trim();
        var images4 = document.getElementById("productImages4").value.trim();
        var price = document.getElementById("productPrice").value.trim();
        var quantity = document.getElementById("productQuantity").value.trim();

        var nameError = document.getElementById("nameError");
        var descriptionError = document.getElementById("descriptionError");
        var imagesError = document.getElementById("imagesError");
        var priceError = document.getElementById("priceError");
        var quantityError = document.getElementById("quantityError");

        // Reset errors
        nameError.textContent = "";
        descriptionError.textContent = "";
        imagesError.textContent = "";
        priceError.textContent = "";
        quantityError.textContent = "";

        var isValid = true;

        // Validate product name
        if (name === "") {
            nameError.textContent = "Please enter a product name.";
            isValid = false;
        }

        // Validate product description
        if (description === "") {
            descriptionError.textContent = "Please enter a product description.";
            isValid = false;
        }

        if (isNaN(parseFloat(price)) || price <= 0) {
            priceError.textContent = "Please enter a valid price.";
            isValid = false;
        }

        if (isNaN(parseInt(quantity)) || quantity <= 0) {
            quantityError.textContent = "Please enter a valid quantity.";
            isValid = false;
        }

        // Validate at least one image is selected
        if (images1 === "" && images2 === "" && images3 === "" && images4 === "") {
            imagesError.textContent = "Please upload at least one image.";
            isValid = false;
        }

        return isValid;
    }
</script>

<script>
   function previewImages(input, imagePreviewId) {
        var preview = document.getElementById(imagePreviewId);
        preview.innerHTML = '';

        if (input.files) {
            var filesAmount = input.files.length;
            for (var i = 0; i < filesAmount; i++) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    var img = document.createElement('img');
                    img.src = event.target.result;
                    img.style.maxWidth = '100px'; // Adjust image size as needed
                    img.style.marginRight = '10px'; // Adjust image spacing as needed
                    preview.appendChild(img);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }
    }

    document.getElementById("productImages1").addEventListener("change", function() {
        previewImages(this, 'image-preview1');
    });

    document.getElementById("productImages2").addEventListener("change", function() {
        previewImages(this, 'image-preview2');
    });

    document.getElementById("productImages3").addEventListener("change", function() {
        previewImages(this, 'image-preview3');
    });

    document.getElementById("productImages4").addEventListener("change", function() {
        previewImages(this, 'image-preview4');
    });
</script>

<%- include('./layout/adfooter.ejs') %>