<%- include('./layout/adheader.ejs') %>
<div class="container-scroller text-center">
    <%- include('./layout/sidenav.ejs') %>
        <div class="container-fluid page-body-wrapper">

            <%- include('./layout/topnav.ejs') %>

                <div class="w-100 container-fluid bg-dark mt-5">
                        <div class="mt-5 mb-3">
                            <h2>Sales Report</h2>
                        </div>
                        <div class="d-flex" style="justify-content: left;">
                            <h6>Total Sales: <%= totalOrderProductCount  %></h6><br>
                        </div>
                        <div class=" d-flex" style="justify-content: left;">
                            <h6>Total Amount: ₹<%= totalOrderPrice %>.00</h6>
                        </div>
                        
                            
                        <div class="container mt-2">
                            
                            
                            <p class="" style="text-decoration: underline;">filter Option</p>
                            <select class="form-control" id="filterOption" name="filterOption" onchange="applyFilter()">
                            <option value="day">All</option>
                            <option value="day">Today</option>
                            <option value="week">This Week</option>
                            <option value="month">This Month</option>
                            </select>
                        </div>
                        <div style="overflow-x: auto;">
                        <% if (orders && orders.length > 0 ) { %>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Address</th>
                                        <th>Price</th>
                                        <th>Payment status</th>
                                        <th>Payment Method</th>
                                        <th>Order Status</th>
                                        <th>Reason</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach((order, orderIndex) => { %>
                                        <% order.products.forEach((product, index) => { %>
                                            <tr>
                                                <td><%= new Date(order.createdAt).toLocaleDateString('en-US', {  year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                                <td class="product-col">
                                                    <div class="product d-flex align-items-center">
                                                        <figure class="product-media mr-2">
                                                            <% if (product.images && product.images.length > 0) { %>
                                                                <img src="<%= product.images[0] %>" alt="Product image">
                                                            <% } %>
                                                        </figure>
                                                        <h6 class="product-title">
                                                            <%= product.name %>
                                                        </h6>
                                                    </div>
                                                </td>
                                                <td class="quantity-col"><%= product.quantity %></td>
                                                <td>
                                                    <%= order.address.user.name %>
                                                    <br>
                                                    <%= order.address.buildingName %> 
                                                    <br> 
                                                    <%= order.address.city %>
                                                    <br> 
                                                    <%= order.address.state %> 
                                                    <br> 
                                                    <%= order.address.pincode %>
                                                </td>
                                                <td class="price-col">₹<%= product.subtotal %></td>
                                                <td><%= order.paymentStatus  %></td>
                                                <td><%= order.paymentMethod %></td>
                                                <% if(product.orderStatus == 'placed') { %>
                                                    <td  style="text-align: center; color: rgb(129, 129, 235);"><%= product.orderStatus %></td>
                                                <% }else if(product.orderStatus == 'shipped') { %>
                                                    <td  style="text-align: center; color: rgb(23, 23, 238);"><%= product.orderStatus %></td>
                                                <% }else if(product.orderStatus == 'delivered') { %> 
                                                    <td  style="text-align: center; color: rgb(13, 197, 13);"><%= product.orderStatus %></td>
                                                <% }else { %> 
                                                    <td  style="text-align: center; color: red;"><%= product.orderStatus %></td>
                                                <% } %> 

                                                <% if(product.reason){ %> 
                                                <td><%= product.reason %></td>    
                                                <% }else { %> 
                                                    <td>   </td>
                                                <% } %>

                                                
                                            
                                            </tr>
                                        <% }) %>
                                        
                                    <% }) %>
                                </tbody>                                    
                            </table>
                        <% }else { %> 
                            <span style="font-size: x-large;">No Orders</span>
                        <% } %>
                    </div>
                    <div class="mt-5">
                        <a href="" class="btn btn-primary">Generate Pdf</a>
                        <a href="" class="btn btn-primary" >Generate Excel</a>
                    </div>    

                
        </div>
</div>
        
        
        
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © FurniHub.com 2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free Bootstrap admin templates from Bootstrapdash.com</span>
    </div>
</footer>

   
<%- include('./layout/adfooter.ejs') %>    