<%- include('../layout/header.ejs') %>
<%- include('../layout/navbar.ejs') %>

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('assets/images/aboutpage.jpg')">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0">
                    <h2 class="title">Welcome To <span style="color: rgb(215, 142, 6);">FurniHub</span></h2><!-- End .title -->
                    <p>At <span style="color: rgb(215, 142, 6);">FurniHub</span>, we believe in a world where self-expression knows no bounds. Our vision goes beyond furniture; we aspire to be your global destination for personal expression and home fashion. <span style="color:rgb(215, 142, 6);">FurniHub</span> is more than just a furniture store; it's a lifestyle hub that empowers individuals to embrace their unique style with unwavering confidence.. </p>

                    <div class="pt-6">
                        <h2 class="title">Our Vision</h2><!-- End .title -->
                        <p>In the realm of furniture and home decor,<span style="color: rgb(215, 142, 6);">FurniHub</span>  is dedicated to inspiring and uplifting your living spaces. We envision a future where every home tells a unique story, transcending trends and celebrating individuality. Our commitment is to curate a diverse range of high-quality furniture pieces that not only meet your functional needs but also serve as a canvas for your personal narrative. </p>
                    </div>
                    
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <h2 class="title">Why <span style="color: rgb(215, 142, 6);">FurniHub</span>?</h2><!-- End .title -->
                    <ul>
                        <li>Distinctive Collections: Explore our carefully curated collections designed to cater to diverse tastes and preferences.</li>
                        <li>Timeless Elegance: Our furniture transcends fleeting trends, ensuring that your space remains a testament to enduring style.</li>
                        <li>Unparalleled Quality: Every piece at FurniHub is crafted with precision and quality materials, promising longevity and resilience.</li>
                        <li>Your Style, Your Way: We're not just a furniture store; we're your partners in self-expression. FurniHub is your canvas to design a home that reflects the essence of you.</li>
                    </ul>
                    <p class="pt-5">
                        Join us on this journey to redefine home fashion. Let FurniHub be the catalyst for transforming your living spaces into an embodiment of your unique style and personality.
                    </p>
                </div><!-- End .col-lg-6 -->

                
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<div class="mb-6 text-center mt-6" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <h3>Your space, your style,<span style="color: rgb(215, 142, 6);">FurniHub</span>. </h3>
</div>


<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<%- include('../layout/mobile.ejs') %>

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>