<%- include('../layout/header.ejs') %>

<%- include('../layout/navbar.ejs') %>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Address</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link " href="/profile" role="tab" >Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" role="tab" >Orders</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active"   href="/address"  >Adresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="" >Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Sign Out</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->

                <div class="ml-5 ">
                    <div class="tab-content">
                        <div class="">
                            
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addAddressModal">
                                Add Address<i class="icon-edit"></i></button>
                       
                            <% if(addresses.length == 0) { %>
                                <p class='text-primary text-center'>No Address</p>
                            <% }else {%>
                                    <p>The following addresses will be used on the checkout page by default.</p>
                              
                                     <div class="d-flex " style="justify-content: space-around;">
                                        <% addresses.forEach((address) => {%>
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->
                                            
                                                    <p><span class="text-primary">Name:</span> <%= address.user.name %></p>
                                                    <p><span class="text-primary">BuildingName:</span> <%= address.buildingName %></p>
                                                    <p><span class="text-primary">Mobile No:</span> <%= address.mobile %></p>
                                                    <p><span class="text-primary">District:</span> <%= address.district %></p>
                                                    <p><span class="text-primary">City:</span> <%= address.city %></p>
                                                    <p><span class="text-primary">State:</span> <%= address.state %></p>
                                                    <p><span class="text-primary">Pin Code:</span> <%= address.pincode %></p>
                                                    <br>
                                                    <p><a href="/edit-address/<%= address._id %>" >Edit Address <i class="icon-edit"></i></a></p> 
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        <%}); %>
                                </div><!-- End .col-lg-6 -->
                                <% } %>
                               
                                                                
                                <!-- New Address Modal -->
                                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <form id="addAddressForm" action="/address" method="POST">
                                            <div class="form-group">
                                            <label for="buildingName">Building Name</label>
                                            <input type="text" class="form-control" id="buildingName" name="buildingName" required>
                                            </div>
                                            <div class="form-group">
                                            <label for="mobile">Mobile</label>
                                            <input type="text" class="form-control" id="mobile" name="mobile" required>
                                            </div>
                                            <div class="form-group">
                                            <label for="district">District</label>
                                            <input type="text" class="form-control" id="district" name="district" required>
                                            </div>
                                            <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city" name="city" required>
                                            </div>
                                            <div class="form-group">
                                            <label for="state">State</label>
                                            <input type="text" class="form-control" id="state" name="state" required>
                                            </div>
                                            <div class="form-group">
                                            <label for="pincode">Pincode</label>
                                            <input type="text" class="form-control" id="pincode" name="pincode" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add Address</button>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div><!--End Modal-->
                        </div><!-- .End .tab-pane -->
                    </div>    
                </div>    
            </div>
        </div>      
    </div>
</div>     
</main>



<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>