<%- include('../layout/header.ejs') %>
<%- include('../layout/navbar.ejs') %>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/cartbackground.jpg')">
        <div class="container" style="display: flex; justify-content: end; padding-right: 300px;">
            <h3 class="page-title" style="font-family: 'Patrick Hand SC', cursive; color: rgba(240, 209, 209, 0.865);">Your dream space starts here</h3>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <% if (cartProducts && cartProducts.length > 0) { %>
        <div class="page-content">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Discount Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartProducts[0].products.forEach(product => { %>
                                        <tr>
                                            <td class="product-col">
                                                <div class="product" >
                                                    <figure class="product-media">
                                                        <% if (product.images && product.images.length > 0) { %>
                                                            <img src="<%= product.images[0] %>" alt="Product image">
                                                        <% } %>
                                                    </figure>
                                                    <h3 class="product-title">
                                                        <a href="/product/<%= product.product._id %>"><%= product.product.name %></a>
                                                    </h3>
                                                </div>
                                            </td>
                                            <td class="price-col"><del>₹<%= product.product.price %></del></td>
                                            <td class="price-col">₹<%= product.product.discount %></td>
                                            <td class="quantity-col">
                                                <div class="cart-product-quantity">
                                                    <input type="number" class="form-control quantity-input" value="<%= product.quantity %>" data-product-id="<%= product.product._id %>" name="quantity" min="1" max="<%= product.product.quantity %>" step="1" data-decimals="0" required>
                                                </div>
                                            </td>
                                            <td class="total-col">₹<%= product.subtotal %></td>
                                            <td class="remove-col"><a href="/cart/remove?productId=<%= product._id %>"><i class="icon-close"></i></a></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                                
                            </table>
    
                            <div class="cart-bottom">
                                <div class="cart-discount">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" required placeholder="coupon code">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- End .input-group -->
                                    </form>
                                </div><!-- End .cart-discount -->
    
                                <!-- <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a> -->
                            </div><!-- End .cart-bottom -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
    
                                <table class="table table-summary">
                                    <tbody>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>₹<%= cartProducts[0].grandTotal %></td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr class="summary-shipping">
                                            <td>Shipping:</td>
                                            <td>&nbsp;</td>
                                        </tr>
    
                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                                </div><!-- End .custom-control -->
                                            </td>
                                            <td>₹0.00</td>
                                        </tr><!-- End .summary-shipping-row -->
    
                                        <!-- <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="standart-shipping">Standart:</label>
                                                </div> End .custom-control 
                                            </td>
                                            <td>₹0.00</td>
                                        </tr> End .summary-shipping-row 
    
                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="express-shipping">Express:</label>
                                                </div> End .custom-control 
                                            </td>
                                            <td>₹0.00</td>
                                        </tr>End .summary-shipping-row -->
    
                                        <tr class="summary-shipping-estimate">
                                            <td>Estimate for Your Country<br> <a href="/address">Change address</a></td>
                                            <td>&nbsp;</td>
                                        </tr><!-- End .summary-shipping-estimate -->
    
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>₹<%= cartProducts[0].grandTotal %></td> 
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->
    
                                <a href="/check-out" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                            </div><!-- End .summary -->
    
                            <a href="/all-products" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        </div><!-- End .page-content -->
    <% }else {%>
        <h3 class="text-primary text-center ">No Products In cart</h3>
    <% } %>
    
</main><!-- End .main -->


<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<%- include('../layout/mobile.ejs') %>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const quantityInputs = document.querySelectorAll('.quantity-input');

    quantityInputs.forEach(input => {
        input.addEventListener('change', async (event) => {
            const productId = event.target.dataset.productId;
            const newQuantity = event.target.value;

            try {
                const response = await fetch(`/updateQuantity?productId=${productId}&quantity=${newQuantity}`, {
                    method: 'PUT'
                });

                if (response.ok) {
                    const data = await response.json();
                    const subtotalCell = document.querySelector(`.subtotal-cell-${productId}`);
                    subtotalCell.textContent = `₹${data.subtotal}`;
                } else {
                    console.error('Failed to update quantity');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
});
</script>


 <!-- Plugins JS File -->
 <script src="assets/js/jquery.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/jquery.hoverIntent.min.js"></script>
 <script src="assets/js/jquery.waypoints.min.js"></script>
 <script src="assets/js/superfish.min.js"></script>
 <script src="assets/js/owl.carousel.min.js"></script>
 <script src="assets/js/bootstrap-input-spinner.js"></script>
 <!-- Main JS File -->
 <script src="assets/js/main.js"></script>



<%- include('../layout/footer.ejs') %>