<%- include('../layout/header.ejs') %>
<%- include('../layout/navbar.ejs') %>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class=" d-flex w-100 " style="justify-content: end;">
                    <% if(!cart[0].coupon){%> 
                        <a href="/displayCoupons" class="btn btn-danger">Apply Coupon</a>    
                    <% }else {%>
                        <a href="#" class="btn btn-outline-dark-2">Coupon Applied</a>
                    <% } %>
                </div><!-- End .checkout-discount -->
                <form id="checkout-form" >
                    <div class="row">
                        <div class="col-lg-8 d-flex">
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addAddressModal">
                                Add Address<i class="icon-edit"></i></button>
                        </div>
                        <% if(addresses.length !== 0){ %> 
                        <div class="col-lg-8">
                            <h5 class="text-center" style="text-decoration:underline;">Select a Address</h5> 
                        </div>
                        <% } %>
                        
                        <div class="col-lg-8 d-flex ">
                            <% if(addresses.length !== 0){ %> 
                                
                                <% addresses.forEach((address) => {%>
                                    <div class="col-lg-4"> 
                                    <div class="card card-dashboard "> 
                                        <div class="card-body ">
                                            <input type="radio" name="address" value="<%= address._id %>" required>
                                            <h3 class="card-title">Billing Address</h3><!-- End .card-title -->
                                    
                                            <p><span class="text-primary">Name:</span> <%= address.user.name %></p>
                                            <p><span class="text-primary">BuildingName:</span> <%= address.buildingName %></p>
                                            <p><span class="text-primary">Mobile No:</span> <%= address.mobile %></p>
                                            <p><span class="text-primary">District:</span> <%= address.district %></p>
                                            <p><span class="text-primary">City:</span> <%= address.city %></p>
                                            <p><span class="text-primary">State:</span> <%= address.state %></p>
                                            <p><span class="text-primary">Pin Code:</span> <%= address.pincode %></p>
                                            <br>
                                            <!-- <p><a href="/edit-address/<%= address._id %>" >Edit Address <i class="icon-edit"></i></a></p>  -->
                                        </div><!-- End .card-body -->
                                    </div><!-- End .card-dashboard -->
                                </div>
                                <%}); %>
                            <% }else { %> 
                                <h4 class='text-primary text-center'>No Address, Please add a Address</h4>
                            <% } %>
                        </div><!-- End .col-lg-8 -->

                        <aside class="col-lg-4">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                        
                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="text-center" style="padding-right: 15px;">Qty</th>
                                            <th class="text-right">Price</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        <% cart[0].products.forEach(product => { %>
                                        <tr>
                                            <td><a href="#"><%= product.product.name %></a></td>
                                            <td class="text-center" style="padding-right: 15px;"><%= product.quantity %></td>
                                            <td class="text-center" style="padding-right: 5px;">₹<%= product.product.discount %></td>
                                            <td class="text-right" >₹<%= product.subtotal %></td>
                                        </tr>
                                        <% }); %>
                                        <tr>
                                            <td>Shipping:</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">₹<%= cart[0].grandTotal %></td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->
                        
                                <% if(cart[0].coupon){ %>
                                <div class="mb-3 d-flex " style="justify-content: space-between;">
                                    <p class="mb-1">Coupon Applied: <span class="text-primary"><%= cart[0].coupon.couponName %></span></p>
                                    <a href="/remove-coupon-cart" class="text-danger"><i class="icon-close"></i></a>
                                </div>
                                <% } %>
                        
                                <div class="accordion-summary" id="accordion-payment">
                                    <label for="paymentOption">Select Payment Option:</label>
                                    <select id="paymentOption" name="paymentOption" class="form-control mb-3">
                                        <% if(cart[0].grandTotal <= 2500){%> 
                                            <option value="COD">Cash on Delivery</option>
                                        <% } %>
                                        <option value="Razorpay">Razor Pay</option>
                                        <option value="Wallet">Wallet</option>
                                    </select>
                                </div><!-- End .accordion -->
                        
                                <button type="button" class="btn btn-outline-primary-2 btn-order btn-block" onclick="placeclick()">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-4 -->
                        
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<!-- New Address Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center" id="addAddressModalLabel">Add New Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addAddressForm" action="/address" method="POST" onsubmit="return validate()">
                <div class="form-group">
                    <label for="buildingName" class="pl-2">Building Name:</label>
                    <input type="text" class="form-control" id="buildingName" name="buildingName">
                    <small id="buildingNameError" class="text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="mobile" class="pl-2">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" name="mobile">
                    <small id="mobilenoError" class="text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="district" class="pl-2">District:</label>
                    <input type="text" class="form-control" id="district" name="district">
                    <small id="districtError" class="text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="city" class="pl-2">City:</label>
                    <input type="text" class="form-control" id="city" name="city">
                    <small id="cityError" class="text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="state" class="pl-2">State:</label>
                    <input type="text" class="form-control" id="state" name="state">
                    <small id="stateError" class="text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="pincode" class="pl-2">Pincode:</label>
                    <input type="text" class="form-control" id="pincode" name="pincode">
                    <small id="pincodeError" class="text-danger"></small>
                </div>
                <button type="submit" class="btn btn-primary d-flex justify-content-center mx-auto mb-2">Add Address</button>
            </form>
        </div>
        
    </div>
    </div>
</div><!--End Modal-->



<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<%- include('../layout/mobile.ejs') %>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    
    function placeclick() {
       console.log('firstinside');
        // Get the selected address ID
        var selectedAddressId = document.querySelector('input[name="address"]:checked').value;

        var paymentMethod = document.getElementById('paymentOption').value;
        
        var grandTotalElement = document.querySelector('.summary-total td:last-child');
        var grandTotalText = grandTotalElement.textContent.trim(); 
        var grandTotal = parseFloat(grandTotalText.replace('₹', ''));

        // Create the data object with the addressId, paymentMethod, and grandTotal
        var data = {
            addressId: selectedAddressId,
            paymentMethod: paymentMethod,
            amount: grandTotal
        };
        console.log(data);

            fetch('/order-placed', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(response => {
            if (!response.ok) {
                return response.json().then(err => { throw new Error(err.message); });
            }
            return response.json();
            })
            .then(data => {
                if (data.pay === 'razor') {
                    razorpayPayment(data.razorpayOrder);
                } else {
                    window.location.href = "/thank-you";
                }
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: error.message || 'There was a problem with your order. Please try again later.',
                });
            });
    }

    function razorpayPayment(order) {
    var options = {
        "key": "rzp_test_PFPeHk6DFR6c5M", 
        "amount": order.amount , 
        "currency": "INR",
        "name": "FurniHub",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, 
        "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
        "handler": function (response) {
            verifyPayment(response, order);
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
}

    function verifyPayment(payment, order) {
        console.log("payment",payment);
        fetch('/verify-payment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ payment, order }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log("data",data.success)
            if (data.success == true) {
                // Show success alert
                Swal.fire({
                    icon: 'success',
                    title: 'Payment Successful',
                    showConfirmButton: false,
                    timer: 1500,
                }).then(() => {
                    window.location.href = '/thank-you';
                });
            } else {
                // Show error alert
                Swal.fire({
                    icon: 'error',
                    title: 'Payment has failed',
                    showConfirmButton: false,
                    timer: 1500,
                }).then(() =>{
                    window.location.href = '/orders';
                })
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'An error occurred',
                text: 'Please try again later.',
            }).then(() =>{
                    window.location.href = '/orders';
            })
        });
    }

</script>


<script>
    function validate(){
        let buildingName = document.getElementById('buildingName').value.trim();
        let mobile = document.getElementById('mobile').value.trim();
        let district = document.getElementById('district').value.trim();
        let city = document.getElementById('city').value.trim();
        let state = document.getElementById('state').value.trim();
        let pincode = document.getElementById('pincode').value.trim();


        let buildingNameError = document.getElementById('buildingNameError');
        let mobilenoError = document.getElementById('mobilenoError');
        let districtError = document.getElementById('districtError');
        let cityError = document.getElementById('cityError');
        let stateError = document.getElementById('stateError');
        let pincodeError = document.getElementById('pincodeError');

        buildingNameError.textContent = '';
        mobilenoError.textContent = '';
        districtError.textContent = '';
        cityError.textContent = '';
        stateError.textContent = '';
        pincodeError.textContent = '';

        let isValid = true;

        if(buildingName === ''){
            buildingNameError.textContent = "Please Enter Your BuildingName"
            isValid = false
        }

        if (!/^\d{10}$/.test(mobile)) {
            mobilenoError.textContent = 'Please enter a valid 10-digit mobile number.';
            isValid = false;
        }

        if(district === ''){
            districtError.textContent = "Please Enter Your District"
            isValid = false
        }

        if(city === ''){
            cityError.textContent = "Please Enter Your City"
            isValid = false
        }

        if(state === ''){
            stateError.textContent = "Please Enter Your State"
            isValid = false
        }
        if (!/^\d{6}$/.test(pincode)) {
            pincodeError.textContent = 'Please enter a valid 6-digit  Pincode.';
            isValid = false;
        }

        return isValid;

    }
</script>


 <!-- Plugins JS File -->
 <script src="assets/js/jquery.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/jquery.hoverIntent.min.js"></script>
 <script src="assets/js/jquery.waypoints.min.js"></script>
 <script src="assets/js/superfish.min.js"></script>
 <script src="assets/js/owl.carousel.min.js"></script>
 <!-- Main JS File -->
 <script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>