<%- include('../layout/header.ejs') %>

<%- include('../layout/navbar.ejs') %>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                <li class="breadcrumb-item"><a href="/address">Address</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Address</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link " href="/profile" role="tab" >Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" role="tab" >Orders</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link active"   href="/address"  >Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="" >Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                 
                    <!-- Edit Address Form -->
                    <div class="ml-5">
                        <div class="tab-content">
                            <div class="">
                                <form id="editAddressForm" action="/edit-address/<%= address._id %>" method="POST" onsubmit="return validateForm()">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="buildingName">Building Name</label>
                                            <input type="text" class="form-control" id="buildingName" name="buildingName" value="<%= address.buildingName %>" required>
                                            <div id="buildingNameError" class="text-danger"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mobile">Mobile</label>
                                            <input type="text" class="form-control" id="mobile" name="mobile" value="<%= address.mobile %>" required >
                                            <div id="mobilenoError" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="district">District</label>
                                            <input type="text" class="form-control" id="district" name="district" value="<%= address.district %>" required>
                                            <div id="districtError" class="text-danger"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city" name="city" value="<%= address.city %>" required>
                                            <div id="cityError" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="state">State</label>
                                            <input type="text" class="form-control" id="state" name="state" value="<%= address.state %>"required >
                                            <div id="stateError" class="text-danger"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="pincode">Pincode</label>
                                            <input type="text" class="form-control" id="pincode" name="pincode" value="<%= address.pincode %>" required>
                                            <div id="stateError" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Address</button>
                                    <!-- <button type="button"  class="btn btn-primary"> <a href="/address" class="text-white">Back to Address</a> </button> -->
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div>
                    <!-- End Edit Address Form -->

                </div>
            </div>      
        </div>
    </div>     
    </main>                    
    


<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<%- include('../layout/mobile.ejs') %>

<script>
    function validateForm() {
        let buildingName = document.getElementById('buildingName').value.trim();
        let mobile = document.getElementById('mobile').value.trim();
        let district = document.getElementById('district').value.trim();
        let city = document.getElementById('city').value.trim();
        let state = document.getElementById('state').value.trim();
        let pincode = document.getElementById('pincode').value.trim();


        let buildingNameError = document.getElementById('buildingNameError');
        let mobilenoError = document.getElementById('mobilenoError');
        let districtError = document.getElementById('districtError');
        let cityError = document.getElementById('cityError');
        let stateError = document.getElementById('stateError');
        let pincodeError = document.getElementById('pincodeError');

        buildingNameError.textContent = '';
        mobilenoError.textContent = '';
        districtError.textContent = '';
        cityError.textContent = '';
        stateError.textContent = '';
        pincodeError.textContent = '';

        let isValid = true;

        if(buildingName === ''){
            buildingNameError.textContent = "Please Enter Your BuildingName"
            isValid = false
        }

        if (!/^\d{10}$/.test(mobile)) {
            mobilenoError.textContent = 'Please enter a valid 10-digit mobile number.';
            isValid = false;
        }

        if(district === ''){
            districtError.textContent = "Please Enter Your District"
            isValid = false
        }

        if(city === ''){
            cityError.textContent = "Please Enter Your City"
            isValid = false
        }

        if(state === ''){
            stateError.textContent = "Please Enter Your State"
            isValid = false
        }
        if (!/^\d{6}$/.test(pincode)) {
            pincodeError.textContent = 'Please enter a valid 6-digit  Pincode.';
            isValid = false;
        }

        return isValid;

    }
</script>

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>