<%- include('../layout/header.ejs') %>
<%- include('../layout/navbar.ejs') %>


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login.jpg')">
        <div class="container">
           
            <div class="form-box" style="background-color: rgb(204, 202, 202);">
                <div class="text-center">
                    <h3>Login</h3>
                    <hr style="border-color: rgb(230, 151, 4);">
                </div>
               
                <form action="/loginverfy" method="post">
                   
                    <div class="form-group">
                        <label for="singin-email">Username or Email address *</label>
                        <input type="text" class="form-control" id="singin-email" name="email" required>
                    </div><!-- End .form-group -->
    
                    <div class="form-group">
                        <label for="singin-password">Password *</label>
                        <input type="password" class="form-control" id="singin-password" name="password" required>
                    </div><!-- End .form-group -->
                    <% 
                    if(typeof message !== 'undefined'){
                      %>
                       <small style="color: rgb(241, 134, 134);">  <%= message %>   </small>
                       <%
                    }
            
            %>
    
            <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary">
                    <span>LOG IN</span>
                    <i class="icon-long-arrow-right"></i>
                </button>
                        <div>
                            <a style="margin-left: 190px;" href="" class="text-dark">Forgotten Password?</a>
                        </div>
                        <div class=" mt-3 " style="margin-left: 100px;">
                            <p>Don't have an account? <a class="text-white" href="/register">Register</a></p>
                        </div>
                    </div><!-- End .form-footer -->
                </form>
                <hr>
                <div class="form-choice">
                    <p class="text-center">or sign in with</p>
                    <div class="row justify-content-center"> <!-- Use justify-content-center to center the content -->
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-login btn-g">
                                <i class="icon-google"></i>
                                Login With Google
                            </a>
                        </div><!-- End .col-6 -->
                        <!-- <div class="col-sm-6">
                            <a href="#" class="btn btn-login  btn-f">
                                <i class="icon-facebook-f"></i>
                                Login With Facebook
                            </a>
                        </div>End .col-6 -->
                    </div><!-- End .row -->
                </div><!-- End .form-choice -->
            </div><!-- End .form-box -->
       
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
    
    
</main><!-- End .main -->
<%- include('../layout/allfooter.ejs') %>

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<%- include('../layout/mobile.ejs') %>

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>


<%- include('../layout/footer.ejs') %>