<%- include('../layout/header.ejs') %>

<%- include('../layout/navbar.ejs') %>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                <li class="breadcrumb-item"><a href="/orders">Orders</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order Details</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link " href="/profile"  >Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/orders">Orders</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link "   href="/address"  >Adresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="" >Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Sign Out</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->
                <div class=" col-lg-9 col-lg-8 ">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                            <div class="card" >
                                <div class="card-body" id="orderInvoice" >
                                    <h5 class="card-title">Order Date: <%= new Date(myorder.createdAt).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></h5>

                                    <div class="media mb-3 mt-3">
                                        
                                        <img src="<%= myorder.products[i].images[0] %>" class="mr-3" alt="<%= myorder.products[i].name  %>" style="width: 30vh;">
                                        <div class="media-body ml-5 d-flex" style="justify-content: space-evenly;">
                                            <div>
                                            <h5 class="mt-0"><%= myorder.products[i].name %></h5>
                                            <!-- <% const productPrice = myorder.products[i].price - myorder.total  %>
                                            <% const totalproductPrice = myorder.products[i].price - productPrice %>
                                            <h6>Price: <%= totalproductPrice %></h6> -->
                                            <h6>Quantity: <%= myorder.products[i].quantity %></h6>
                                            <h6>Total: <%= myorder.total %></h6>
                                            <h6>Payment: <span class="bg-success badge text-white"><%= myorder.paymentStatus %> </span> </h6>
                                            <h6>Status: 
                                                <% const orderStatus = myorder.products[i].orderStatus; %>
                                                <span class="badge badge-danger"><%= orderStatus %></span>
                                            </h6>
                                            <% if(myorder.products[i].reason) { %> 
                                                <h6>Reason: <span style="font-size: small;"><%= myorder.products[i].reason %></span> </h6>
                                            <% } %>    
                                        </div> 
                                            <div>   
                                            <h6 class="address">
                                                <strong>Address:</strong><br>
                                                <div class="address-details">
                                                  <p class="name"><%= myorder.user.name %></p>
                                                  <p class="buildingName"><%= myorder.address.buildingName %></p>
                                                  <p class="phone"><%= myorder.address.mobile %></p>
                                                  <p class="district"><%= myorder.address.district %></p>
                                                  <p class="city"><%= myorder.address.city %></p>
                                                  <p class="state"><%= myorder.address.state %></p>
                                                  <p class="pincode"><%= myorder.address.pincode %></p>
                                                </div>
                                               
                                            </h6>
                                        </div>
                                        </div>
                                    </div>
                                    <% if( myorder.products[i].orderStatus === 'delivered'){%> 
                                        <button onclick="generatePDF(this)" class="btn btn-info" data-order="<%= JSON.stringify(myorder) %>">Invoice</button>  
                                    <% } %>
                                </div>
                                
                            </div>
                </div><!-- .End .tab-pane -->
            
            </div><!-- End .col-lg-9 -->
                
                </div>


            </div>
        </div>      
    </div>
</div>     
</main>

<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<%- include('../layout/mobile.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.15/jspdf.plugin.autotable.min.js"></script>

<script>
  function generatePDF(button) {
    const orderData = button.getAttribute("data-order");
    const order = JSON.parse(orderData);

    const doc = new jsPDF();

    // Set document title
    doc.text("Invoice", 10, 40); 

    // Add order details to the PDF
    doc.text(`User: ${order.user.name}`, 10, 50);
    doc.text(`Total: ${order.total.toFixed(2)}`, 10, 60);
    doc.text(`Payment Method: ${order.paymentMethod}`, 10, 70);
    doc.text(`Is Paid: ${order.paymentStatus === 'pending' ? "No" : "Yes"}`, 10, 80);

    // Format the date
    const createdAtDate = new Date(order.createdAt);
    const formattedDate = `${createdAtDate.getDate()}-${createdAtDate.getMonth() + 1}-${createdAtDate.getFullYear()}`;
    doc.text(`Date: ${formattedDate}`, 10, 90);

    // Add table for product details
    const productName = order.products[0].name;
    const address = `${order.user.name},${order.address.buildingName}, ${order.address.district}, ${order.address.city}, ${order.address.state} - ${order.address.pincode}`
    const productData = [[productName,address]];
    const headers = ["Product","Address"];
    doc.autoTable({
    head: [headers],
    body: productData,
    startY: 100, // Adjust startY position as needed
    });

    // Save PDF
    doc.save("invoice.pdf");
  }
</script>

<!-- Plugins JS File -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>