<%- include('../layout/header.ejs') %>

<%- include('../layout/navbar.ejs') %>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="/orders" >Orders</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/address" >Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="/wallet" >Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active d-flex" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <div class="w-25 text-center ml-5" style="background: linear-gradient(to right, #ff8a00, #c6225e); height: 300px;">
                                    <div class=" text-white pt-3 pb-4 ">
                                      <img src="/assets/images/profilepic.jpg" alt="user profile pic" class="w-50 bg-warning" style="border-radius: 100%;margin-left: 50px;margin-top: 35px;">
                                      <p class="text-white  w-100"><%= user.name %></p>
                                    </div>
                                  </div>
                                <div class=" ml-5 w-50 " >
                                    <div class="d-flex" style="justify-content: space-between;">
                                        <div>
                                            <h6>Name</h6>
                                            <p class=""><%= user.name %></p>
                                        </div>
                                        <div>
                                            <h6>Contact</h6>
                                            <p class=""><%= user.mobile %></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <h6>Email</h6>
                                        <p><%= user.email %></p>
                                    </div>
                                    <div class="pt-4">
                                        <button class="btn-primary" style="border: none;" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                                        <button class="btn-primary" style="border: none;" data-toggle="modal" data-target="#editProfileModal">Edit profile</button>
                                    </div>

                                   
                                </div>

                                <!-- Edit Profile Modal -->
                                <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <form action="/profile/<%= user._id %>" method="post" id="editProfileForm" onsubmit="return validateProfile()">
                                            <div class="form-group">
                                            <label for="editName" class="pl-3">Name</label>
                                            <input type="text" name="name" class="form-control" id="editName" value="<%= user.name %>">
                                            <small id="nameError" class="text-danger"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="editEmail" class="pl-3">Mobile No</label>
                                                <input type="text" name="mobile" class="form-control" id="editMobile" value="<%= user.mobile %>">
                                                <small id="mobilenoError" class="text-danger"></small>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" name="submit" class="btn btn-primary" >Save changes</button>
                                            </div>
                                        </form>
                                        </div>
                                       
                                    </div>
                                    </div>
                                </div><!--End Modal-->

                                <!-- Change Password Modal -->
                                <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white">
                                                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/profile" method="post" id="changePasswordForm" onsubmit="return validate()">
                                                    <div class="form-group">
                                                        <label for="currentPassword" class="pl-3">Current Password</label>
                                                        <input type="password" name="currentPassword" class="form-control" id="currentPassword" placeholder="Enter current password" >
                                                        <small><%= message %></small>
                                                        <small id="currentPasswordError" class="text-danger"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newPassword" class="pl-3" >New Password</label>
                                                        <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Enter new password" >
                                                        <small id="newPasswordError" class="text-danger"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="confirmPassword" class="pl-3" >Confirm New Password</label>
                                                        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm new password" >
                                                        <small id="confirmPasswordError" class="text-danger"></small>
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" name="submit" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Change Password Modal -->


                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<script>
    function validate() {
        const currentPassword = document.getElementById('currentPassword').value.trim();
        const newPassword = document.getElementById('newPassword').value.trim();
        const confirmPassword = document.getElementById('confirmPassword').value.trim();

        const currentPasswordError = document.getElementById('currentPasswordError');
        const newPasswordError = document.getElementById('newPasswordError');
        const confirmPasswordError = document.getElementById('confirmPasswordError')

        currentPasswordError.textContent = '';
        newPasswordError.textContent = '';
        confirmPasswordError.textContent = '';

        let isValid = true;


        if(currentPassword == ''){
            currentPasswordError.textContent = "Please Enter your current Password"
            isValid = false
        }

        if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/.test(newPassword)) {
            newPasswordError.textContent = 'Password must be at least 6 characters and include at least one uppercase letter, one lowercase letter, one number, and one special character.';
            isValid = false;
        }

        if(newPassword !== confirmPassword) {
            confirmPasswordError.textContent = 'Password do not match.';
            isValid = false
        }

       
        return isValid;

    }
</script>

<script>
    function validateProfile() {
        let name = document.getElementById('editName').value.trim();
        let mobile = document.getElementById('editMobile').value.trim();

        let nameError = document.getElementById('nameError');
        let mobilenoError = document.getElementBy('mobilenoError');

        nameError.textContent = '';
        mobilenoError.textContent = '';

        function isOnlyLetters(str) {
            return /^[a-zA-Z\s]+$/.test(str);
        }
       

        if(name.length < 2 || !isOnlyLetters(name)){
            nameError.textContent = 'Plese Enter Your Name.'
            return false;
        }

        if(!/^\d{10}$/.test(mobile)){
            mobilenoError.textContent = 'Please enter a valid 10-digit mobile number.'
            return false;
        }

        // Form is valied
        return true
    }
</script>


<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>
  