<%- include('../layout/header.ejs') %>

<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <div class="header-dropdown">
                        <a href="#">Usd</a>
                    </div><!-- End .header-dropdown -->

                    <div class="header-dropdown">
                        <a href="#">Eng</a>
                    </div><!-- End .header-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="tel:#"><i class="icon-phone"></i>Call: +91 9778073408</a></li>
                                <li><a href="wishlist.html"><i class="icon-heart-o"></i>My Wishlist</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu">
                            <li class="megamenu-container active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/all-products">Shop</a>
                            </li>
                            <li>
                                <a href="" >Product</a>
                            </li>
                            <!-- <li>
                                <a href="#" class="sf-with-ul">Pages</a>

                                <ul>
                                    <li><a href="/login">Login</a></li>
                                    <li>
                                        <a href="/about" >About</a>
                                    </li>
                                    <li>
                                        <a href="" >Contact</a>
                                    </li>
                                   
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li> -->
                            <!-- <li>
                                <a href="">Profile</a>
                            </li> -->
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <!-- <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a> -->

                            <!-- <div class="dropdown-menu dropdown-menu-right">
                                <ul class="compare-products">
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a></h4>
                                    </li>
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a></h4>
                                    </li>
                                </ul>

                                <div class="compare-actions">
                                    <a href="#" class="action-link">Clear All</a>
                                    <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div> End .dropdown-menu
                        </div>End .compare-dropdown -->

                        <div class="dropdown cart-dropdown ">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">2</span> -->
                            </a>

                            <!-- <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div> End .product-cart-details 

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div> End .product 

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div>End .product-cart-details 

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div> End .product 
                                </div>End .cart-product 

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div> End .dropdown-cart-total 

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div> End .dropdown-cart-total 
                            </div>End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .cart-dropdown -->
                    <!-- <div class="profile-icon">
                        <a href="/profile" style="font-size: 20px; padding-left: 15px; color: black;"><i class="fa-solid fa-user"></i></a>
                    </div> End porfile icon -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login.jpg')">
            	<div class="container">
            		<div class="form-box " style="background-color: rgb(204, 202, 202);">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign Up</a>
							    </li>
							</ul>
							<div class="tab-content">
							   
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form  action="/register" method="POST" name="register-form" onsubmit="return validate()">
                                        <div class="form-group">
							    			<label for="register-fullnsme-2">Full Name *</label>
							    			<input type="text" class="form-control" id="reg-name" name="reg-name" placeholder="Enter your Fullname">
                                            <small id="fullNameError" class="text-danger"></small>
							    		</div><!-- End .form-group -->
							    		<div class="form-group">
							    			<label for="register-email-2">Your email address *</label>
							    			<input type="email" class="form-control" id="reg-email" name="reg-email" placeholder="Enter a valid email address" >
                                            <small id="emailError" class="text-danger"></small>
							    		</div><!-- End .form-group -->
                                        <div class="form-group">
							    			<label for="register-mobileno-2">Mobile No *</label>
							    			<input type="text" class="form-control" id="reg-mobileno" name="reg-mobileno" placeholder="Enter a valid 10-digit mobile number." >
                                            <small id="mobilenoError" class="text-danger"></small>
							    		</div><!-- End .form-group -->
							    		<div class="form-group">
							    			<label for="register-password-2">Password *</label>
							    			<input type="password" class="form-control" id="reg-password" name="reg-password" placeholder="Password must be at least 6 characters" >
                                            <small id="passwordError" class="text-danger"></small>
							    		</div><!-- End .form-group -->
                                        <div class="form-group">
							    			<label for="register-password-2">Confirm Password *</label>
							    			<input type="password" class="form-control" id="reg-con-password" name="reg-con-password" placeholder="Password must be at least 6 characters" >
                                            <small id="confirmPasswordError" class="text-danger"></small>
							    		</div><!-- End .form-group -->

                                        <span class="text-danger"><%= message %></span>

							    		<div class="form-footer">
							    			<button type="submit " class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
                                             <div style="padding-left: 80px;">
                                                <p>Already have an Account? <a  class="text-white" style="text-decoration: none;" href="/login">Sign In</a></p>
                                             </div>
							    		</div><!-- End .form-footer -->
							    	</form>
							    	<div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row justify-content-center"> <!-- Use justify-content-center to center the content -->
                                            <div class="col-sm-6">
                                                <a href="/auth/google" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <!-- <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div>End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                    
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

    <%- include('../layout/allfooter.ejs') %>   
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <%- include('../layout/mobile.ejs') %>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

<script>
        function validate() {
            const name = document.getElementById('reg-name').value.trim();
            const email = document.getElementById('reg-email').value.trim();
            const password = document.getElementById('reg-password').value.trim();
            const mobileno = document.getElementById('reg-mobileno').value.trim();
            const confPassword = document.getElementById('reg-con-password').value.trim();

            const fullNameError = document.getElementById('fullNameError');
            const emailError = document.getElementById('emailError');
            const passwordError = document.getElementById('passwordError');
            const mobilenoError = document.getElementById('mobilenoError');
            const confirmPasswordError = document.getElementById('confirmPasswordError');

            // Reset errors
            fullNameError.textContent = '';
            emailError.textContent = '';     
            passwordError.textContent = '';
            mobilenoError.textContent = '';
            confirmPasswordError.textContent = '';

            let isValid = true;

            function isOnlyLetters(str) {
                return /^[a-zA-Z\s]+$/.test(str);
            }

            if (name.length < 2 || !isOnlyLetters(name)) {
                fullNameError.textContent = "Fullname must be at least 2 characters. or Don't type  number in full name";
                isValid = false;
            }

            if (!/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/.test(email)) {
                emailError.textContent = 'Please enter a valid email address.';
                isValid = false;
            }

            if (!/^\d{10}$/.test(mobileno)) {
                mobilenoError.textContent = 'Please enter a valid 10-digit mobile number.';
                isValid = false;
            }

            // Stronger password requirements
            if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/.test(password)) {
                passwordError.textContent = 'Password must be at least 6 characters and include at least one uppercase letter, one lowercase letter, one number, and one special character.';
                isValid = false;
            }

            if(password !== confPassword) {
                confirmPasswordError.textContent = 'Password do not match.';
                isValid = false
            }


            if (isValid) {
                window.location.href = "/otpverification"; 
            }

            // Form is valid
            return isValid;
        }


</script>


<style>
    .form-control::placeholder {
    font-size: 80%; 
    opacity: 0.7; 
}
</style>
<%- include('../layout/footer.ejs') %>