<%- include('../layout/header.ejs') %>

<%- include('../layout/navbar.ejs') %>

<div class="w-100 mb-5 d-flex" style="justify-content: center;">
    <div class="container" style="margin-left: 200px;">
        <img src="/assets/images/Thankyou.jpg" alt="Thankyou For Purchasing">
        <a style="margin-left: 25%;" href="/orders" class="btn btn-dark">Visit Orders</a>
        <a class="btn btn-dark" href="/">Back To Home</a>
    </div>
    
</div>


<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<%- include('../layout/mobile.ejs') %>

<%- include('../layout/footer.ejs') %>
