<%- include('../layout/header.ejs') %>

<%- include('../layout/navbar.ejs') %>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link " href="/profile" role="tab" >Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders" role="tab" >Orders</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link "   href="/address"  >Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active " href="/wallet" >Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-lg-9 col-md-8 w-50" style="background-color: rgb(232, 229, 229); border-radius: 10px; padding: 20px;">
                        <div class="tab-content text-center">
                            <h3 style="font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px;">Wallet</h3>
                            
                        </div>
                        <% if(wallet){ %>
                        
                        <div>
                           
                            <h6 style="margin-bottom: 10px;">
                                <% if(wallet.amount) { %>
                                    Balance: ₹<%=wallet.amount %>
                                <% }else{ %>
                                    Balance: ₹0.00
                                <% } %>
                            </h6>
                            
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Reson</th>
                                <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th>1</th>
                                <td><%= wallet.order.name %></td>
                                <td><%= wallet.order.reson %></td>
                                <% if(wallet.order.status === 'credited'){ %> 
                                    <td class="text-success">+<%= wallet.order.price %></td>
                                <% }else { %> 
                                    <td class="text-danger">-<%= wallet.order.price %></td>
                                <% } %>
                                </tr>
                            </tbody>
                        </table>
                        <% }else { %>
                            <h6 style="margin-bottom: 10px;">Balance: ₹0.00</h6>
                        <% } %>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>               
    </div>     
</main>
                    
                    
                    
<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
                    
                    
<%- include('../layout/mobile.ejs') %>
                    
 
<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %> 
                            