<%- include('../layout/header.ejs') %>
<%- include('../layout/navbar.ejs') %>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/wishlistbck.jpg')">
        <div class="container">
            <h1 class="page-title " style="color: rgb(79, 76, 76); padding-left: 80px; font-family:Georgia, 'Times New Roman', Times, serif ">Wishlist</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->


    <% if (wishlistProducts && wishlistProducts.length > 0) { %>
    <div class="page-content"> 
        <div class="container"> 
            <table class="table table-wishlist table-mobile text-center">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>
                            <% if (wishlistProducts.length > 0 && wishlistProducts[0].products[0].product.offer) { %>
                                Offer Price   
                            <% } else { %> 
                                Discount Price
                            <% } %>
                        </th>
                        <th>Stock Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% wishlistProducts[0].products.forEach(product => { %>
                    <tr>
                        <td class="product-col">
                            <div class="product">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="<%= product.product.pictures[0] %>" alt="Product image">
                                    </a>
                                </figure>

                                <h3 class="product-title">
                                    <a href="/product/<%= product.product._id %>"><%= product.name %></a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>
                        <td class="price-col text-muted"><del>₹<%= product.product.price %></del></td>
                        <td class="price-col">
                            <% if(product.product.offer) { %>
                                ₹<%= product.product.offerPrice %>    
                            <% }else { %> 
                                ₹<%= product.product.discount %></td>    
                            <% } %>
                        </td>
                        <td class="stock-col">
                            <% if(product.product.quantity > 0) { %> 
                                <span class="in-stock">In stock</span>    
                            <% }else { %> 
                                <span class="out-of-stock">Out of stock</span>
                            <% } %>
                            
                        </td>
                        <td class="action-col">
                            <% if(product.product.quantity > 0){ %> 
                                <button class="btn  btn-primary"> <a class="text-white" href="/cart-Products/<%= product.product._id %>"><i class="icon-cart-plus"></i>Add to Cart</a></button>     
                            <% }else { %> 
                                <button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>    
                            <% } %>
                           
                        </td>
                        <td class="remove-col"><a href="/wishlist/remove?productId=<%= product._id %>"><i class="icon-close text-muted"></i></a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table><!-- End .table table-wishlist -->
            
            <div class="wishlist-share">
                <div class="social-icons social-icons-sm mb-2">
                    <label class="social-label">Share on:</label>
                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .wishlist-share -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
    <% } else { %> 
        <h3 class="text-primary text-center ">No Products In Wishlist</h3>
    <% } %>
</main><!-- End .main -->



<%- include('../layout/allfooter.ejs') %>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<%- include('../layout/mobile.ejs') %>

 <!-- Plugins JS File -->
 <script src="assets/js/jquery.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/jquery.hoverIntent.min.js"></script>
 <script src="assets/js/jquery.waypoints.min.js"></script>
 <script src="assets/js/superfish.min.js"></script>
 <script src="assets/js/owl.carousel.min.js"></script>
 <!-- Main JS File -->
 <script src="assets/js/main.js"></script>

<%- include('../layout/footer.ejs') %>